      h1{
        color:green;
      }

      .RefImage{
        width:380px;
        height:260px;
      }

      .ReqInfo{
            color:red;
      }

      .dropdown{
            position:relative;
            background-color:cyan;
      }

      .dropdown-content{
         display: none;
         position: absolute;
         background-color: white;
         min-width: 130px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         padding: 12px 16px;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      p{
        font-size:large;
      }

      body{
        background-color:beige;
      }
